<header class="header-wrapper main-header">
    <div class="header-inner-wrapper">
        <div class="header-right">
            <div class="header-left">
                <div class="nk-header-logo">
                   <a class="navbar-brand" href="{{ page_url('index') }}">
							{% if site['logo'] %}
								<img src="{{ site['logo'] }}" alt="{{ site['name'] }}" 										title="{{ site['name'] }}">
							{% else %}
								{{ site['name'] }}
							{% endif %}
						</a>
                
                </div>
              
                <div class="header-controls">
                  <div class="setting-wrapper header-links">
                  <li class="dropdown dropdown-currencies nav navbar-nav navbar-right navbar-right-block"  style="list-style: none">
    				<a class="dropdown-toggle stylebalance" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   	 	<span class="badge777">{{ user.balance_formatted }}</span>
		</a>
			</li>
             <li>
               <div class="user-info-wrapper header-links">
                <a href="javascript:void(0);" class="user-info">
                  <img
                    src="https://smmdesign.shop/globalsmm/cabinet/photo.png"
                    alt=""
                    class="user-img"
                  />
                  <div class="blink-animation">
                    <span class="blink-circle"></span>
                    <span class="main-circle"></span>
                  </div>
                </a>
                <div class="user-info-box">
                  <div class="drop-down-header">
                    <p>sooreoluwa</p>
                    <h4>sooreoluwwaa@gmail.com</h4>
                  </div>
                  <ul>
                    <li>
                      <a href="/account">
                        <i class="fas fa-cog"></i> Settings
                      </a>
                    </li>
                    <li>
                      <a href="/logout">
                        <i class="fas fa-sign-out-alt"></i> Logout
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
             </li>
                    
               <li class="nk-navbar-toggle">
                <button
                     class="btn btn-outline-light navbar-toggle rounded-1 p-2 h-100">
                 <i class="fa-solid fa-bars fa-2x"></i>
                            </button>
                        </li>
                
                </div>
              </div>
            </div>
        </div>
    </div>
</header>